.createtaskform-modal-overlay {
  position: fixed;  /* Фиксированное позиционирование */
  top: 0;           /* На весь экран */
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный */
  display: flex;     /* Для центрирования формы */
  justify-content: center;
  align-items: center;
  z-index: 1000;     /* Поверх других элементов */
}

.createtaskform-create-task-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    background: #FFFFFF;
    border: 3px solid #A8FFA8;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Растягиваем элементы на всю ширину */
}

.createtaskform-create-task-container h2 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
    color: #000000;
}

/* Общие стили для всех инпутов и textarea */
.createtaskform-create-task-container input[type="text"],
.createtaskform-create-task-container textarea,
.createtaskform-create-task-container input[type="date"] {
    width: 100%; /* Ширина 100% от родительского контейнера */
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 4px;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    color: #000;
    box-sizing: border-box; /* Учитываем padding и border в ширине */
}

.createtaskform-create-task-container textarea {
    resize: none;
    height: 70px;
}

.createtaskform-date-fields {
    display: flex;
    flex-direction: column; /* Элементы друг под другом */
    gap: 10px;
    width: 100%; /* Ширина 100% от родительского контейнера */
}

.createtaskform-date-fields input[type="date"] {
    width: 100%; /* Ширина 100% от родительского контейнера */
}

.createtaskform-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.createtaskform-create-btn, .createtaskform-cancel-btn {
    width: 48%;
    height: 50px;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.createtaskform-create-btn {
    background: #80FFE8;
}

.createtaskform-create-btn:hover {
    background: #5cd6c4;
}

.createtaskform-cancel-btn {
    background: white;
    border: 2px solid red;
    color: red;
}

.createtaskform-cancel-btn:hover {
    background: red;
    color: white;
}