.edit-task-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: absolute;
    font-family: 'Roboto Mono', monospace;
}
  
.edit-task-container {
    width: 480px;
    padding: 30px;
    background: #ffffff;
    border: 3px solid #a8ffa8;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
  
.form-title {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #000000;
    text-align: center;
}
  
.input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
  
.input-field,
.textarea-field {
    border: 2px solid #000000;
    border-radius: 4px;
    padding: 8px;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}
  
.textarea-field {
    resize: none;
    height: 70px;
}
  
.input-field::placeholder,
.textarea-field::placeholder {
    color: #888;
    font-size: 14px;
}
  
.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
  
.cancel-button {
    width: 150px;
    height: 60px;
    background: #ffffff;
    border: 2px solid #ff0011;
    border-radius: 8px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.3s;
}
  
.cancel-button:hover {
    background: #ff0011;
    color: #ffffff;
}
  
.edit-button {
    width: 150px;
    height: 60px;
    background: #80ffe8;
    border: none;
    border-radius: 8px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.3s;
}
  
.edit-button:hover {
    background: #66d6c4; /* чуть темнее чем #80ffe8 */
}
  