.item-item {
    position: relative;
    height: auto; /* Изменено на auto для адаптивности */
    font-family: 'Roboto Mono', monospace;
    background: #ffffff;
    border: 3px solid #80ffe8;
    border-radius: 8px;
    overflow: hidden; /* Скрываем всё, что выходит за пределы экрана */
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
}
.item-item-name {
    margin-top: 10px;
    margin-left: 10px;
    width: 100px;
    font-size: 24px;
}
.item-headr{

}
.item-delete-button {
    width: 104px;
    height: 31px;
    padding: 5px 20px;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid #EE8283; /* Прозрачный фон */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer;
    margin-left: 20px; /* Отступ слева от заголовка */
    box-sizing: border-box;
}
.item-go-button {
    text-decoration: none;
    width: 104px;
    height: 31px;
    padding: 5px 20px;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    background-color: #a8ffa8;
    border: 2px solid #a8ffa8; /* Прозрачный фон */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer;
    margin-left: 20px; /* Отступ слева от заголовка */
    box-sizing: border-box;
    color: inherit;
}
.item-change-button{
    text-decoration: none;
    width: 104px;
    height: 31px;
    padding: 5px 20px;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    background-color: #a8ffa8;
    border: 2px solid #a8ffa8; /* Прозрачный фон */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer;
    margin-left: 20px; /* Отступ слева от заголовка */
    box-sizing: border-box;
}
.item-description{
    margin-top: 30px;
    width: 200px;
    font-size: 20px;
    margin-left: 20px;
}
.item-deadline {
    margin-top: 10px; /* Отступ сверху для описания и дедлайна */
}

.item-title-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.item-name {
    margin: 0;
    font-size: 20px;
}

.item-status {
    padding: 6px 10px; /* Уменьшенные отступы */
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap; /* Запрет переноса текста */
    display: inline-block; /* Чтобы ширина определялась содержимым */
    width: auto; /* Ширина по содержимому */
    margin-left: 20px; /* Отступ от названия предмета */
}

.item-status.creator {
    background: #A8FFA8;
}

.item-status.participant {
    background: #FFAC81;
}

.item-buttons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}