    width: 100%;
    height: auto; /* Изменено на auto для адаптивности */
    font-family: 'Roboto Mono', monospace;
    background: #ffffff;
    border: 3px solid #80ffe8;
    border-radius: 8px;
    overflow: hidden; /* Скрываем всё, что выходит за пределы экрана */
    margin-bottom: 20px; /* Отступ между элементами списка */
    padding: 10px; /* Добавляем немного внутреннего отступа */
}

.item-name {
    margin-top: 10px;

}
.item-headr{
    text-align: left;
}
.delete-button {
    width: 104px;
    height: 31px;
    padding: 5px 20px;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid #EE8283; /* Прозрачный фон */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer;
    margin-left: 20px; /* Отступ слева от заголовка */
}
.go-button {
    width: 104px;
    height: 31px;
    padding: 5px 20px;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    background-color: #a8ffa8;
    border: 2px solid #a8ffa8; /* Прозрачный фон */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer;
    margin-left: 20px; /* Отступ слева от заголовка */
}
.item-description{
    margin-top: 30px;
}
.item-deadline {
    margin-top: 10px; /* Отступ сверху для описания и дедлайна */
}