.formContainer {
  background-color: #fff;
  border: 2px solid lightgreen; /* Зеленый контур */
  border-radius: 10px;
  padding: 20px;
  width: 300px; /* Задайте нужную ширину */
  margin: 20px auto; /* Центрирование */
}

.formTitle {
  text-align: center;
  margin-bottom: 20px;
}

.inputGroup {
  margin-bottom: 15px;
}

.inputLabel {
  display: block;
  margin-bottom: 5px;
  color: #777; /* Серый цвет для лейбла */
}

.inputField {
  width: 100%;
  padding: 8px;
  border: 1px solid transparent; /* Убираем черную рамку */
  border-radius: 5px;
  box-sizing: border-box;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
}

.backButton {
  background-color: #fff;
  color: red;
  border: 2px solid red;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
}

.joinButton {
  background-color: #a0fdf0; /* Бирюзовый */
  color: black;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
}
.backButton:hover {
  background-color: #ffe6e6;
}

.joinButton:hover {
  background-color: #79d6c7;
}