.task-list {
    margin-top: 200px;
    width: 1032px;
    position: absolute;
    left: 444px;
    font-family: 'Roboto Mono', monospace;
}

.task-item {
    width: 100%;
    height: auto;
    background: #ffffff;
    border: 2px solid #80ffe8;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    overflow: hidden;
}

.task-headr {
    text-align: left;
}

.delete-button {
    width: 104px;
    height: 31px;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid #EE8283; /* Прозрачный фон */
    border-radius: 5px; /* Скругленные углы */
}

.edit-button {
    width: 104px;
    height: 31px;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    background-color: #a8ffa8;
    border: 2px solid #a8ffa8; /* Прозрачный фон */
    border-radius: 5px; /* Скругленные углы */
}