/* Список задач */
.task-item {
    list-style-type: none; /* Убираем маркеры списка (точки, номера) */
    margin-bottom: 10px; /* Отступ между элементами списка */
}

/* Контейнер задачи */
.task-content {
    border: 1px solid #ccc; /* Граница вокруг каждой задачи */
    padding: 10px; /* Внутренний отступ внутри контейнера задачи */
    border-radius: 5px; /* Скругленные углы контейнера */
    display: flex; /* Используем Flexbox для управления внутренними элементами */
    flex-direction: column; /* Располагаем элементы (текст задачи, дедлайн, кнопка) вертикально */
    align-items: center; /* Выравниваем элементы по центру */
    width: 300px; /* Ограничиваем максимальную ширину контейнера */
    margin: 0 auto;
}

/* Текст задачи */
.task-text {
    font-weight: bold; /* Жирное начертание текста задачи */
    cursor: pointer; /* Указываем, что текст можно кликнуть (например, для редактирования) */
}

/* Дедлайн задачи */
.task-deadline {
    font-size: 0.9em; /* Уменьшаем размер шрифта для информации о дедлайне */
    color: gray; /* Задаем серый цвет текста для визуального разделения с основным текстом */
}

/* Кнопка удаления задачи */
.delete-button {

    margin: 0 auto;
    padding: 5px 10px; /* Внутренние отступы кнопки (увеличиваем кликабельную область) */
    background-color: #f44336; /* Красный фон кнопки (цвет опасности/удаления) */
    color: white; /* Белый цвет текста на кнопке */
    border: none; /* Убираем стандартную границу кнопки */
    border-radius: 3px; /* Скругленные углы кнопки */
    cursor: pointer; /* Изменяем курсор на указатель при наведении на кнопку */
}

/* Ховер-эффект для кнопки удаления задачи */
.delete-button:hover {
    background-color: #d32f2f; /* Темно-красный фон при наведении на кнопку */
}

/* Стили для body */

/* Центрирование элементов внутри страницы */
body {
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
}
