.app {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

input {
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}